html,
body{
	background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673); 
}
#content-box{
	padding: 100px 200px 150px 200px;
	width:100%;
	height: 900px;
	opacity: 0.9;
	

}
.content{
	text-align: center;
	margin-left: 80px;
	width:80%;
	height: 100%;;
	background-color: black;
	border-radius: 20px;
	box-shadow: 5px 5px 70px 5px #B8AFAF ;
}
.carosel-holder{
	float: right;
	width: 50%;
	height:100%;
	background: #000000;
	border-radius: 0px 20px 20px 0px;;
	border-left: 1px solid white;
	
}

.login-box{
	 padding: 40px;
  border-radius: 20px;
	background-color: black;
  float: left;
	width: 50%;
	opacity: 0.99;
	
}
.logo{
	width: 100%;
	height:150px;
	text-align: center;
}
.logo img{
	height: 100%;
	
}
input,
span,
label {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  font-size: 22px;
}

input:focus {
  outline: 0;
}
/* username */

input.username {
  font-size: 20px;
	color: white;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.username + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin-bottom: 25px;
  width: 100%;
  border-top: 2.5px solid grey;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.username:focus + label {
  width: 100%;
}

input.username:focus,
input.username:valid {
  padding-top: 35px;
}

textarea.username:valid,
textarea.username:focus {
  margin-top: 35px;
}

input.username:focus + label > span,
input.username:valid + label > span {
  top: -80px;
  font-size: 22px;
  color: lawngreen;
}

textarea.username:focus + label > span,
textarea.username:valid + label > span {
  top: -70px;
  font-size: 22px;
  color: lawngreen;
}

input.username:valid + label,
textarea.username:valid + label {
  border-color: palegreen;
}

input.username:invalid,
textarea.username:invalid {
  box-shadow: none;
}

input.username + label > span,
textarea.username + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 25px;
  top: -50px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input.password,
textarea.password {
  font-size: 20px;
  font-weight: 300;
  border-radius: 2px;
	color: white;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.password + label,
textarea.password + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 10px;
  width: 100%;
  border-top: 2px solid grey;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.password:focus + label,
textarea.password:focus + label {
  width: 100%;
}

input.password:focus,
input.password:valid {
  padding-top: 35px;
}

textarea.password:valid,
textarea.password:focus {
  margin-top: 35px;
}

input.password:focus + label > span,
input.password:valid + label > span {
  top: -80px;
  font-size: 22px;
  color: lawngreen;
}

textarea.password:focus + label > span,
textarea.password:valid + label > span {
  top: -80px;
  font-size: 22px;
  color: lawngreen;
}

input.password:valid + label,
textarea.password:valid + label {
  border-color:palegreen;
}

input.password:invalid,
textarea.password:invalid {
  box-shadow: none;
}

input.password + label > span,
textarea.password + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 25px;
  top: -45px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}


.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.login {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}